<% if (errors.length > 0) { %> <% for(const val of errors) { %>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <%= val %>
</div>
<% } %> <% } %> <% if (success != '') { %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <%= success %>
</div>
<% } %>
