<div class="row mt-5" style="height: 100vh">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1><i class="fab fa-node-js fa-3x"></i></h1>
      <p>NodeJs Authorization App</p>
      <div class="row">
        <div class="col-xs-6 col-md-3 m-auto">
          <a href="/auth/register" class="btn btn-primary btn-block mb-2"
            >Register</a
          >
        </div>
        <div class="col-xs-6 col-md-3 m-auto">
          <a href="/auth/login" class="btn btn-secondary btn-block">Login</a>
        </div>
      </div>
    </div>
  </div>
</div>
